* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
}
/* root-da yazmaq reng kodlarini,olculeri remle yazmaq */



/* Vertical scroll'a verilen propertiler */

/* scrollun qalinligi */
::-webkit-scrollbar {
    width: 5px;
}

/* arxa hisse */
::-webkit-scrollbar-track {
    background: #fff;
}

/* on hisse */
::-webkit-scrollbar-thumb {
    background: #FFBF00;
    border-radius: 100vh;
}

/* Scroll Button starts */

.scrollToTop-btn {
    position: fixed;
    z-index: 101;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #FFBF00;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}
.scrollToTop-btn.active {
    visibility: visible;
    opacity: 1;
}

/* Scroll Button ends */

/* Nav starts */

.navi {
    position: relative;
    background: url('../img/home-bg1.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
.navi-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1, 1, 1, .6);
}
.navi-content {
    position: relative;
    z-index: 2;
    height: 100%;
}
.navi-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding: 12px 0;
}
.navi-tel > a > i {
    color: #91B40D;
    margin-right: 3px;
}
.navi-tel > a > span {
    color: #fff;
    font: 600 15px 'Cormorant Garamond', serif;
    transition: all .3s ease;
}
.navi-tel > a:hover > span {
    color: #91B40D;
}
.navi-tel > a:hover > i {
    animation: phone 1s 250ms infinite;
}
@keyframes phone {
    0% { transform: rotate(0);}
    10% { transform: rotate(-25deg);}
    20% { transform: rotate(25deg);}
    30% { transform: rotate(-25deg);}
    40% { transform: rotate(25deg);}
    50% { transform: rotate(0);}
    100% { transform: rotate(0);}
}
.navi-media,
.navi-media > ul
{
    display: flex;
}
.navi-media ul li:first-child {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.navi-media ul li:first-child > .langs {
    position: absolute;
    z-index: 2;
    bottom: -80px;
    padding: 5px 10px;
    color: black;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-media ul li:first-child > .langs.active {
    bottom: -65px;
    opacity: 1;
    visibility: visible;
}
.navi-media ul li:first-child > i,
.lang1,
.lang2
{
    transition: all .3s ease ;
}
.navi-media ul li:first-child > i.active {
    transform: rotateZ(180deg);
}
.navi-media ul li:first-child > .langs > .lang1 {
    border-bottom: 1px solid black;
}
.navi-media ul li:not(:first-child) {
    margin-right: 10px;
}
.navi-media ul li:last-child {
    margin-right: 0;
}
.navi-media ul li a {
    color: #91b40d;
    transition: all .4s ease;
}
.navi-media ul li a:hover {
    color: #fff;
}
.lang1:hover,
.lang2:hover {
    color: #FFBF00 !important;
}
.navi-media > i {
    font-size: 16px;
    margin: 4px 0 0 20px;
    color: #fff;
    cursor: pointer;
}
.navi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}
.navi-logo > img {
    height: 40px;
}
.navi-menu > ul,
.navi-fixed ul
{
    display: none;
}
.navi-menu > ul > li,
.navi-fixed ul > li
{
    position: relative;
    margin-right: 20px;
}
.hiddenNavi-content > ul > li {
    position: relative;
}
.navi-menu > ul > li > img,
.hiddenNavi-content > ul > li > img
{
    position: absolute;
    top: -15px;
    left: -13px;
    width: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-menu > ul > li > a,
.navi-fixed ul > li > a,
.hiddenNavi-content > ul > li > a
{
    position: relative;
    font: 500 19px 'Cormorant Garamond', serif;
    color: #fff;
    transition: all .3s ease;
}
.navi-menu > ul > li > a::after,
.navi-fixed ul > li > a::after,
.hiddenNavi-content > ul > li > a::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #91B40D;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .3s ease;
}
.navi-fixed ul > li > a::after {
    background: #FFBF00;
}
.navi-menu > ul > li:hover > a::after,
.navi-fixed ul > li:hover > a::after,
.hiddenNavi-content > ul > li:hover > a::after
{
    transform: scaleX(1);
}
.navi-menu > ul > li:hover > a,
.hiddenNavi-content > ul > li:hover > a
{
    color: #91B40D;
}
.navi-fixed ul > li:hover > a {
    color: #FFBF00;
}
.navi-menu > ul > li:hover > img,
.hiddenNavi-content > ul > li:hover > img {
    opacity: 1;
    visibility: visible;
}
.navi-menu > ul > i,
.navi-fixed ul > i
{
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
}
.navi-hamb {
    display: block;
    cursor: pointer;
}
.navi-hamb > span:not(:last-child) {
    margin-bottom: 6px;
}
.navi-hamb > span {
    display: block;
    background: #fff;
    width: 35px;
    height: 3px;
    border-radius: 2px;
}
.navi-category {
    display: none;
    position: absolute;
    bottom: -18%;
    left: 0;
    height: 280px;
    width: 100%;
}
.navi-category > div {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}
.navi-category > div > h5, 
.fruit-slide > h5,
.vegetable-slide > h5
{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    font: 700 25px 'Cormorant Garamond', serif;
}
.navi-fruit,
.fruit-slide
{
    background: #1a5221 url('../img/home-bg2.png') no-repeat center;
    background-size: contain;
}
.navi-vegetable,
.vegetable-slide
{
    background: #91B40D url('../img/home-bg3.png') no-repeat center;
    background-size: contain;
}
.navi-fruit > img,
.fruit-slide > img
{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.navi-vegetable > img,
.vegetable-slide > img
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navi-slider {
    display: block;
    position: absolute;
    bottom: -18%;
    left: 0;
    height: 280px;
    width: 100%;
    padding: 0 30px;
}
.navi-search {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100vh);
    background: rgba(100, 100, 100, .6);
    transition: all .3s ease;
}
.navi-search.active {
    transform: translateY(0);
}
.navi-search > i {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.navi-search > form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70px;
}
.navi-search > form > input[type='text'] {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
}
.navi-search > form > input[type='text']::placeholder {
    color: #fff;
}
.navi-search > form > input[type='submit'] {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    background: #c7c7c7;
    color: #000;
    transition: all .3s ease;
}
.navi-search > form > input[type='submit']:hover {
    background: #1a5221;
    color: #fff;
}
.navi-fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 14px 0;
    background: #1a5221;
    border-bottom: 4px solid #FFBF00;
    transition: all .3s ease;
}
.navi-fixed.active {
    opacity: 1;
    visibility: visible;
}
.navi-fixed > .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi-hidden {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: 0;
    width: 100%;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-hidden.active {
    visibility: visible;
    left: 0;
}
.hiddenNavi-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(100, 100, 100, .6);
}
.hiddenNavi-content {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #fff;
}
.hiddenNavi-content > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #666;
    height: 8%;
}
.hiddenNavi-content i {
    font-size: 30px;
    cursor: pointer;
}
.hiddenNavi-content > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #666;
    height: 84%;
}
.hiddenNavi-content > ul > li {
    margin-bottom: 15px;
}
.hiddenNavi-content > ul > li > a {
    font: 500 19px 'Cormorant Garamond', serif;
    color: #666;
}
.hiddenNavi-content > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}
.hiddenNavi-content > div:last-child > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFBF00;
    color: #fff;
    margin-right: 10px;
    transition: all .3s ease;
}
.hiddenNavi-content > div:last-child > a:hover {
    background: #1a5221;
}
.hiddenNavi-content > div:last-child > a > i {
    font-size: 19px;
}

/* Nav ends */


/* .navi-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #111;
    opacity: .6;
} */
/* .navi .navi-search {
    position: fixed;
    z-index: 3;
    top: -100vh;
    background-color: rgba(100, 100, 100, .7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}
.navi .navi-search.active {
    top: 0px;
}
.navi-search form {
    width: 900px;
    padding: 30px;
}
.navi-search input {
    width: 100%;
    margin-bottom: 10px;
    margin-right: -5px;
    background: transparent !important;
    padding: 20px 15px;
    outline: 0;
    border: 3px solid #fff;
    caret-color: #fff;
    color: #fff;
}
.navi-search input::placeholder {
    color: #fff;
}
.navi-search button {
    width: 100%;
    padding: 20px 15px;
    outline: 0;
    border: 3px solid #fff;
    transition: all .3s ease;
}
.navi-search button:hover {
    background: green;
    color: #fff;
}
.navi-search i {
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 25px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}



.nav-fixed {
    position: fixed;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #315325;
    padding: 1.1rem 0;
    font-size: 20px;
    border-bottom: 4px solid #FFBF00;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
}
.nav-fixed.active {
    opacity: 1;
    visibility: visible;
}
.nav-fixed .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo img {
    width: 115px;
}
.nav-page2 .underline {
    position: absolute;
    top: 30px;
    height: 1px;
    width: 100%;
}
.nav-page2 .underline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFBF00;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ease;
}
.nav-page2 ul li:not(:last-child):hover > .underline::before {
    transform: scaleX(1);
}
.nav-page2 ul li:not(:last-child) {
    margin-right: 30px;
}
.nav-page2 ul li a {
    color: #fff;
}
.nav-page2 ul li:hover a {
    color: #FFBF00 ;
}
.nav-page2 ul li i {
    color: #fff;
    cursor: pointer;
}
.hamb-menu i,
.hamb-menu2 i 
{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
} */

/* Nav ends */

/* .nav-flex-up {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    font-size: 17px;
    border-bottom: 1px solid #fff;
}
.nav-phone {
    display: flex;
    align-items: center;
}
.nav-phone:hover span {
    color: #91b40d;
    cursor: pointer;
}
.nav-phone:hover i {
    cursor: pointer;
    animation: phone .5s ease-in-out 2;
}
@keyframes phone {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(30deg)}
    75% {transform: rotate(-30deg)}
    100% {transform: rotate(0deg)}
}
.nav-phone,
.nav-media ul li
{
    font-size: 15px;
}
.nav-phone i {
    color: #91b40d;
    margin-bottom: 10px;
    margin-right: 5px;
}
.nav-phone span {
    color: #fff;
}
.nav-media ul {
    display: flex;
}
.nav-media ul li:first-child {
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.nav-media ul li:first-child > .lang {
    position: absolute;
    z-index: 2;
    bottom: -80px;
    padding: 5px 10px;
    color: black;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.nav-media ul li:first-child > .lang.active {
    position: absolute;
    bottom: -65px;
    opacity: 1;
    visibility: visible;
}
.nav-media ul li:first-child > i {
    transition: all .3s ease ;
}
.nav-media ul li:first-child > i.active {
    transform: rotateZ(180deg);
}
.nav-media ul li:first-child > .lang > .lang1 {
    border-bottom: 1px solid black;
}
.nav-media ul li:not(:first-child) {
    margin-right: 10px;
}
.nav-media ul li:last-child {
    margin-right: 0;
    color: #fff;
}
.nav-media ul li a {
    color: #91b40d;
    transition: all .4s ease;
}
.nav-media ul li a:hover {
    color: #fff;
}
.nav-media ul li#thirdSearch {
    display: block;
    cursor: pointer;
}







.nav-flex-down {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
    font-size: 20px;
}
.nav-logo img {
    width: 115px;
}
.nav-page ul,
.nav-page2 ul 
{
    display: flex;
}
.nav-page ul li:not(:last-child),
.nav-page2 ul li:not(:last-child) 
{
    position: relative;
}
.nav-page ul li:not(:last-child) > img {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}
.nav-page ul li:not(:last-child):hover > img {
    visibility: visible;
    opacity: 1;
}
.underline {
    position: absolute;
    height: 1px;
    width: 100%;
}
.underline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #91b40d;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ease;
}
.nav-page ul li:not(:last-child):hover > .underline::before {
    transform: scaleX(1);
}
.nav-page ul li:not(:last-child) {
    margin-right: 30px;
}
.nav-page ul li a {
    color: #fff;
}
.nav-page ul li:hover a {
    color: #91b40d;
}
.nav-page ul li i {
    color: #fff;
    cursor: pointer;
}
 */











/* 
.hamb-toggle {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 80%;
    height: 100%;
    transition: all .4s ease;
}
.hamb-toggle.active {
    left: 0;
}
.hamb-bg {
    position: relative;
    z-index: 5;
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100vw;
    background: rgba(224, 224, 224, 0.7);
}
.overlay.active {
    bottom: 0;
    left: 0;
    right: 0;
}
.hamb-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    padding: 10px;
    flex-basis: 5%;
}
.hamb-up i {
    font-size: 35px;
    cursor: pointer;
}
.hamb-cent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 90%;
    padding-top: 30px;
}
.hamb-cent-menu ul {
    text-align: center;
}
.hamb-cent-menu ul li {
    position: relative;
    margin-bottom: 15px;
}
.hamb-cent-menu ul li a{
    color: #666;
    font-size: 19px;
    transition: all .4s ease;
}
.hamb-cent-menu ul li a:hover {
    color: #91b40d;
}
.hamb-cent-menu ul li > img {
    position: absolute;
    top: -15px;
    width: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    padding: 0;
}
.hamb-cent-menu ul li > .image1 {
    left: 20px;
}
.hamb-cent-menu ul li > .image2 {
    left: 5px;
}
.hamb-cent-menu ul li > .image3 {
    left: -10px;
}
.hamb-cent-menu ul li > .image4 {
    left: 37px;
}
.hamb-cent-menu ul li:hover > img {
    visibility: visible;
    opacity: 1;
}
.hamb-cent-menu ul li .underline {
    position: absolute;
    height: 1px;
    width: 100%;
}
.hamb-cent-menu ul li .underline::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #91b40d;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ease;
}
.hamb-cent-menu ul li:hover > .underline::before {
    transform: scaleX(1);
}
.hamb-down {
    border-top: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    flex-basis: 5%;
}
.hamb-down a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: #FFBF00;
    transition: all .4s ease;
}
.hamb-down a:hover {
    background: #315325;
}
.hamb-down a:not(:last-child) {
    margin-right: 10px;
}
.hamb-down a i {
    color: #fff;
}




.nav-images {
    position: absolute;
    bottom: -25%;
    width: 100%;
}
.nav-images-flex {
    display: flex;
}
.nav-item {
    position: relative;
}
.nav-left-bg {
    background-color: #315325;
}
.nav-cent-bg {
    background-color: #91b40d
}
.nav-right-bg {
    background-color: #f7d022;
}
.nav-item .nav-text {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}
.nav-item .nav-text span {
    margin-bottom: 10px;
}
.nav-item .nav-text a {
    color: #fff;
}
.nav-image1 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
}
.nav-image2 {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translateY(-50%);
}
.nav-image3 {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translateY(-50%);
}
.overl {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.overl1-bg {
    background: url('../img/vegetables-1.png') no-repeat center;
}
.overl2-bg {
    background: url('../img/vegetables-2.png') no-repeat center;
}
.overl3-bg {
    background: url('../img/Group\ 425.png') no-repeat center;
}





.nav-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.slide-item {
    position: relative;
    background-color: #315325;
    width: 500px;
    height: 250px;
}
.slide-over {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide-over1-bg {
    background: url('../img/vegetables-1.png') no-repeat center;
}
.slide-text {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}
.slide-text span{
    margin-bottom: 10px;
    font-size: 24px;
}
.slide-text a{
    color: #fff;
    font-size: 14px;
}
.slide-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} */


/* About start */

/* .about {
    width: 100%;
    padding-top: 11rem;
}
.about-fluid {
    display: flex;
    flex-wrap: wrap;
}
.about-left {
    height: 500px;
    width: 100%;
    flex: 0 0 auto;
}
.about-right {
    width: 100%;
    flex: 0 0 auto;
    padding: 0;
}
.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content {
    background: url('../img/logo.png') no-repeat -5% 65%;
    background-color: #f3f3f3;
    padding: 40px 0;
    text-align: center;
}
.heading-image {
    margin-top: 5px;
    width: 200px;
    height: 40px;
    object-fit: contain;
}
.about-text {
    margin-top: 20px;
    line-height: 30px;
    padding: 0 20px;
}
.text-footer {
    line-height: 40px;
    margin: 10px 0;
}
.footer-image {
    margin: 10px 0;
    width: 300px;
    height: 40px;
    object-fit: contain;
}
.about-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.about-footer span {
    display: block;
    margin-top: 10px;
}
.about-footer div:not(:last-child) {
    margin-bottom: 40px;
} */

/* About end */

/* Garden start */

/* .garden {
    padding: 20px 0;
    text-align: center;
}
.garden-body {
    display: flex;
    flex-wrap: wrap;
}
.garden-col {
    flex: 0 0 auto;
    width: 100%;
    padding: 1.5rem;
}
.garden-left,
.garden-cent,
.garden-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.garden-col span {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}
.garden-col .img{
    width: 100%;
}
.garden-col p {
    text-align: left;
} */
/* Garden end */

/* Product start */

/* .product {
    text-align: center;
    margin-top: 30px;
}
.product h3 {
    font-size: 26px;
}
#fruit {
    margin-right: 50px;
    color: #91b40d;
}
#fruit.active {
    color: #111;
}
#vegetable {
    color: #111;
}
#vegetable.active {
    color: #91b40d;
}
.product-heading span {
    cursor: pointer;
}
.product-heading {
    font-size: 18px;
    margin-bottom: 50px;
}
.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-item {
    width: 80%;
    height: 280px;
    flex: 0 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.product-box {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    visibility: 0;
    opacity: 0;
    transition: all .4s ease;
    position: absolute;
}
.product-item:hover .product-box {
    visibility: 1;
    opacity: 1;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    transform: scale(1.05) translateY(-15px);
}
.product-box::before {
    content: url('/img/leaf-1.png');
    position: absolute;
    top: -20px;
    left: -20px;
}
.box-over {
    width: 80%;
    height: 80%;
    position: absolute;
    transition: all .4s ease;
}
.product-item:hover .box-over {
    transform: scale(1.05) translateY(-15px);
}
.box-over img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 10px;
}
.box-over .price-box {
    width: 100%;
    height: 35%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.box-over .price-box span {
    display: block;
    font-size: 25px;
}
.box-over .price-box span:last-child {
    color: #91b40d;
}
.product-all {
    position: relative;
    height: 1900px;
}
.product-fruit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .4s ease;
}
.product-fruit.active {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100%;
    height: 100%;
}
.product-vegetable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100vw;
    transition: all .4s ease;
}
.product-vegetable.active {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* Product end */

/* Service start */
/* .service,
.responsibility,
.contact 
{
    position: relative;
    padding: 40px 0;
}
.service > img,
.contact > img {
    position: absolute;
    top: 40px;
    left: -15%;
}
.service h3,
.contact h3 
{
    padding: 10px 70px 50px;
    margin-bottom: 50px;
}
.service-body {
    display: flex;
    flex-wrap: wrap;
}
.service-col {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 40px 0 20px;
    margin-bottom: 40px;
}
.service-col img,
.service-col h6,
.service-col p 
{
    margin-bottom: 20px;
} */
/* Service end */

/* Responsibility start */

/* .responsibility > img {
    position: absolute;
    top: 80px;
    left: -15%;
}
.responsibility h3 {
    padding: 50px 70px;
}
.res-body {
    padding: 30px 0;
}
.res-body p{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    font-size: 16px;
} */

/* Responsibility end */

/* Contact start */

/* .contact-body {
    display: flex;
    flex-wrap: wrap;
}
.contact-col {
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    padding: 3rem;
}
.contact-content {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    position: relative;
}
.contact-heading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px #ccc;
}
.contact-heading img {
    width: 50px;
    height: 50px;
}
.contact-content p {
    position: absolute;
    bottom: 0;
    left: 20px;
    line-height: 2rem;
} */

/* Contact end */

/* Footer start */

/* .footer {
    background: url('../img/footer-bg.png') no-repeat top center;
    background-size: cover;
    position: relative;
    height: 500px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
} */



/* ? */
/* .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
} 
.footer-empty {
    display: none;
}
.footer-img {
    width: 40%;
}
.footer-img img {
    width: 100%;
    object-fit: contain;
}
.footer-official {
    text-align: center;
    border-top: 1.5px solid #bbb;
    padding: 20px 0;
}
.footer-official span {
    color: #fff;
    font-size: 16px;
}
.footer-official a {
    color: #FFBF00 !important;
    font-size: 16px;
}
.footer-site span {
    margin-right: 10px;
}
.footer-service,
.footer-menu
{
    text-align: center;
    flex: 0 0 auto;
    width: 100%;
    margin: 20px 0;
}
.footer-service h5,
.footer-menu h5 
{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer-service ul li,
.footer-menu ul li 
{
    margin-bottom: 15px;
}
.footer-service ul li a,
.footer-menu ul li a 
{
    color: #fff !important;
    transition: all .4s ease;
    font-size: 16px;
}
.footer-service ul li a:hover,
.footer-menu ul li a:hover 
{
    color: #FFBF00 !important;
} */

/* Footer end */

/* Breakpoints */

@media (min-width: 576px) {

     /* Nav starts */

    .navi-search > form {
        display: flex;
        width: 75%;
    }
    .navi-search > form > input[type='text'] {
        width: 75%;
        margin-bottom: 0;
    }
    .navi-search > form > input[type='submit'] {
        width: 25%;
    }

    /* Nav ends */

    /* Home start */

    /* .navi-search input {
        width: 80%;
    }
    .navi-search button {
        width: 20%;
    } */

    /* Home end */

    /* About start */

    /* .about-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }
    .about-footer div:not(:last-child) {
        margin-bottom: 0;
    }
    .footer-image {
        width: 400px;
    } */

     /* About end */

     /* Product start */

    /* .product h3 {
        font-size: 28px;
    }
    .product-heading {
        font-size: 19px;
    } */
    
    /* Product end */
    
    /* Footer start */

    /* .footer-service ul li a,
    .footer-menu ul li a,
    .footer-official span,
    .footer-official a 
    {
        font-size: 17px;
    }
    .footer-official {
        display: flex;
        justify-content: space-between;
    } */

     /* Footer end */
}

@media (min-width: 768px) {

    /* Nav starts */

    .navi-tel > a > span {
        font-size: 17px
    }
    .navi-media ul li:first-child {
        margin-right: 25px;
    }
    .navi-media ul li:not(:first-child) {
        margin-right: 18px;
    }
    .navi-media ul li:last-child {
        margin-right: 0;
    }
    .navi-media > i {
        font-size: 19px;
        margin-left: 25px;
    }
    .navi-category {
        display: flex;
        justify-content: space-between;
    }
    .navi-category > div {
        width: 47%;
    }
    .navi-slider {
        display: none;
    }
    
    /* Nav ends */

    /* Home start */

    /* .nav-phone,
    .nav-media ul li
    {
        font-size: 16px;
    }
    .nav-item .nav-text span {
        font-size: 26px;
    }
    .nav-item .nav-text a {
        font-size: 16px;
    }
    .nav-image1 img{
        width: 100px;
    }
    .nav-image2 img{
        width: 150px;
    }
    .nav-image3 img{
        width: 170px;
    } */

    /* Home end */

    /* .garden-col {
        width: 50%;
        padding: 1.5rem
    }
    .service-col {
        width: 50%;
        margin-bottom: 0;
    } */

    /* Product start */

    /* .product h3 {
        font-size: 30px;
    }
    .product-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .product-item {
        width: 50%;
        flex: 0 0 auto;
    }
    .product-all {
        height: 900px;
    } */
    
    /* Product end */

    /* Contact start */

    /* .contact-col {
        width: 50%;
    } */

    /* Contact end */
}
@media (min-width: 992px) {

    /* Nav starts */

    .navi-media > i {
        display: none;
    }
    .navi-menu > ul,
    .navi-fixed ul
    {
        display: flex;
    }
    .navi-hamb {
        display: none;
    }
    .navi-category {
        justify-content: flex-start;
    }
    .navi-category > div {
        width: 33%;
    }
    .navi-fruit {
        margin: 0 50px 0 12px;
    }
    .navi-search > form {
        width: 840px;
    }

    /* Nav ends */

    /* Home start */
    /* .nav-img {
        flex: 0 0 auto;
        width: 50%;
        padding: 1rem;
    }

    .nav-media ul li:first-child {
        margin-right: 25px;
    }
    .nav-media ul li:not(:first-child) {
        margin-right: 15px;
    }
    .nav-media ul li:nth-child(6) {
        margin-right: 0;
    }
    .nav-media ul li#thirdSearch {
        display: none;
    }
    .nav-page ul li a,
    .nav-page2 ul li a
    {
        font-size: 19px;
    }
    .nav-page ul li:not(:last-child),
    .nav-page2 ul li:not(:last-child)
    {
        margin-right: 20px;
    }
    .nav-item {
        height: 200px;
    }
    .nav-item .nav-text span {
        font-size: 27px;
    }
    .nav-item .nav-text a {
        font-size: 17px;
    }
    .nav-image1 img{
        width: 140px;
    }
    .nav-image2 img{
        width: 200px;
    }
    .nav-image3 img{
        width: 230px;
    }
    .nav-images {
        position: absolute;
        bottom: -15%;
        width: 100%;
    }
    .footer-service h5,
    .footer-menu h5 
    {
        font-size: 22px;
    } */

    /* Home end */

    /* Garden start */

/* 
    .garden-cent {
        flex-direction: column-reverse;
    } */

    /* Garden end */

    /* Product start */

    /* .product h3 {
        font-size: 32px;
    }
    .product-item {
        width: 33.33333333%;
        flex: 0 0 auto;
    }
    .product-all {
        height: 600px;
    }
     */
    /* Product end */

    /* Responsibility start */
/* 
    .res-body p{
        font-size: 22px;
    } */

    /* Responsibility end */

    /* Footer start */
    
    
    
    /* Footer end */
}
@media (min-width: 1200px) {

    /* Home start */
    /* .nav-img {
        flex: 0 0 auto;
        width: 33.33333333%;
        padding: 1rem;
    }

    .nav-phone,
    .nav-media ul li
    {
        font-size: 17px;
    }
    .nav-page ul li a,
    .nav-page2 ul li a
    {
        font-size: 20px;
    }
    .nav-page ul li:not(:last-child),
    .nav-page2 ul li:not(:last-child)
    {
        margin-right: 25px;
    }
    .nav-item {
        height: 250px;
    }
    .nav-item .nav-text span {
        font-size: 28px;
    }
    .nav-item .nav-text a {
        font-size: 18px;
    }
    .nav-image1 img{
        width: 160px;
    }
    .nav-image2 img{
        width: 250px;
    }
    .nav-image3 img{
        width: 280px;
    } */

    /* Home end */ 

    /* About start */

    /* .about-left {
        flex: 0 0 auto;
        width: 33.33333333%;
        height: 1000px;
    }
    .about-right {
        flex: 0 0 auto;
        width: 66.66666667%;
        padding: 60px 0 150px 0;
    }
    .blog-image {
        height: 100%;
    }
    .about-content {
        padding: 40px 100px;
    }
    .footer-image {
        width: 500px;
    } */

    /* About end */

    /* Garden start */

    /* .garden-col {
        width: 33.33333333%;
        padding: 1.5rem
    }
    .service-col {
        width: 33.33333333%;
    } */

    /* Garden end */

    /* Product start */

    /* .product h3 {
        font-size: 34px;
    }
    .product-heading {
        font-size: 20px;
    }
    .product-item {
        width: 25%;
    } */
    
    /* Product end */

    /* Footer start */

    /* .footer-service ul li a,
    .footer-menu ul li a,
    .footer-official span,
    .footer-official a 
    {
        font-size: 18px;
    } */
    
    /* Footer end */

    /* Contact start */
/* 
    .contact-col {
        width: 33.33333333%;
    } */

    /* Contact end */
}
@media (min-width: 1400px) {

    /* Home start */

    /* .nav-page ul li:not(:last-child),
    .nav-page2 ul li:not(:last-child)
    {
        margin-right: 30px;
    }
    .nav-item {
        height: 300px;
    }
    .nav-item .nav-text span {
        font-size: 30px;
    }
    .nav-item .nav-text a {
        font-size: 20px;
    }
    .nav-image1 img {
        width: 200px;
    }
    .nav-image2 img {
        width: 300px;
    }
    .nav-image3 img{
        width: 330px;
    }
    .nav-images {
        position: absolute;
        bottom: -25%;
        width: 100%;
    } */

    /* Home end */
    /* Product start */

    /* .product h3 {
        font-size: 36px;
    }
    .product-item {
        width: 20%;
        flex: 0 0 auto;
    } */

    /* Product end */

    /* About start */
/* 
    .about {
        padding-top: 13rem;
    }
    .about-right {
        padding: 100px 0 200px 0;
    } */

    /* About end */
}






/* .footer {
    height: 600px;
}
.footer-nav {
    height: 300px;
    margin-bottom: 20px;
}
.footer-item {
    height: 100%;
    flex: 0 0 auto;
    width: 33.33333333%;
    margin-bottom: 0;
}
.footer-empty {
    display: block;
    flex: 0 0 auto;
    width: 16.66666667%;
}
.footer-service,
.footer-menu
{
    flex: 0 0 auto;
    width: 25%;
    height: 100%;
    text-align: left;
}
.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-img img {
    width: 70%;
} */