* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
p {
    margin-bottom: 0 !important;
}
.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
}
/* root-da yazmaq reng kodlarini,olculeri remle yazmaq */

/* Run animations after page loaded */
.loader {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: all .4s ease;
}
.loader.active {
    opacity: 0;
    visibility: hidden;
}
.loader__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
}
.loader__circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(128, 112, 112, 0.3);
    border-radius: 50%;
}
.content {
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}
.content.active {
    opacity: 1;
    visibility: visible;
}

/* Vertical scroll'a verilen propertiler */

/* scrollun qalinligi */
::-webkit-scrollbar {
    width: 5px;
}

/* arxa hisse */
::-webkit-scrollbar-track {
    background: #fff;
}

/* on hisse */
::-webkit-scrollbar-thumb {
    background: #FFBF00;
    border-radius: 100vh;
}

/* Scroll Button starts */

.scrollToTop-btn {
    position: fixed;
    z-index: 101;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #FFBF00;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}
.scrollToTop-btn.active {
    visibility: visible;
    opacity: 1;
}

/* Scroll Button ends */

/* Nav starts */

.navi {
    position: relative;
    background: url('../img/home/home-bg1.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-bottom: 150px;
}
.navi-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1, 1, 1, .6);
}
.navi-content {
    position: relative;
    z-index: 2;
    height: 100%;
}
.navi-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding: 12px 0;
}
.navi-tel > a > i {
    color: #91B40D;
    margin-right: 3px;
}
.navi-tel > a > span {
    color: #fff;
    font: 600 15px 'Cormorant Garamond', serif;
    transition: all .3s ease;
}
.navi-tel > a:hover > span {
    color: #91B40D;
}
.navi-tel > a:hover > i {
    animation: phone 1s 250ms infinite;
}
@keyframes phone {
    0% { transform: rotate(0);}
    10% { transform: rotate(-25deg);}
    20% { transform: rotate(25deg);}
    30% { transform: rotate(-25deg);}
    40% { transform: rotate(25deg);}
    50% { transform: rotate(0);}
    100% { transform: rotate(0);}
}
.navi-media,
.navi-media > ul
{
    display: flex;
}
.navi-media ul li:first-child {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.navi-media ul li:first-child > .langs {
    position: absolute;
    z-index: 2;
    bottom: -80px;
    padding: 5px 10px;
    color: black;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-media ul li:first-child > .langs.active {
    bottom: -65px;
    opacity: 1;
    visibility: visible;
}
.navi-media ul li:first-child > i,
.lang1,
.lang2
{
    transition: all .3s ease ;
}
.navi-media ul li:first-child > i.active {
    transform: rotateZ(180deg);
}
.navi-media ul li:first-child > .langs > .lang1 {
    border-bottom: 1px solid black;
}
.navi-media ul li:not(:first-child) {
    margin-right: 10px;
}
.navi-media ul li:last-child {
    margin-right: 0;
}
.navi-media ul li a {
    color: #91b40d;
    transition: all .4s ease;
}
.navi-media ul li a:hover {
    color: #fff;
}
.lang1:hover,
.lang2:hover {
    color: #FFBF00 !important;
}
.navi-media > i {
    font-size: 16px;
    margin: 4px 0 0 20px;
    color: #fff;
    cursor: pointer;
}
.navi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}
.navi-logo > img {
    height: 40px;
}
.navi-menu > ul,
.navi-fixed ul
{
    display: none;
}
.navi-menu > ul > li,
.navi-fixed ul > li
{
    position: relative;
    margin-right: 20px;
}
.hiddenNavi-content > ul > li {
    position: relative;
}
.navi-menu > ul > li > img,
.hiddenNavi-content > ul > li > img
{
    position: absolute;
    top: -15px;
    left: -13px;
    width: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-menu > ul > li > a,
.navi-fixed ul > li > a,
.hiddenNavi-content > ul > li > a
{
    position: relative;
    font: 500 19px 'Cormorant Garamond', serif;
    color: #fff;
    transition: all .3s ease;
}
.navi-menu > ul > li > a::after,
.navi-fixed ul > li > a::after,
.hiddenNavi-content > ul > li > a::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #91B40D;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .3s ease;
}
.navi-fixed ul > li > a::after {
    background: #FFBF00;
}
.navi-menu > ul > li:hover > a::after,
.navi-fixed ul > li:hover > a::after,
.hiddenNavi-content > ul > li:hover > a::after
{
    transform: scaleX(1);
}
.navi-menu > ul > li:hover > a,
.hiddenNavi-content > ul > li:hover > a,
.navi-menu > ul > li > a.active,
.hiddenNavi-content > ul > li > a.active
{
    color: #91B40D;
}
.navi-fixed ul > li:hover > a,
.navi-fixed ul > li > a.active
{
    color: #FFBF00;
}
.navi-menu > ul > li:hover > img,
.hiddenNavi-content > ul > li:hover > img,
.navi-menu > ul > li > a.active + img,
.hiddenNavi-content > ul > li > a.active + img
{
    opacity: 1;
    visibility: visible;
}
.navi-menu > ul > i,
.navi-fixed ul > i
{
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
}
.navi-hamb {
    display: block;
    cursor: pointer;
}
.navi-hamb > span:not(:last-child) {
    margin-bottom: 6px;
}
.navi-hamb > span {
    display: block;
    background: #fff;
    width: 35px;
    height: 3px;
    border-radius: 2px;
}
.navi-category {
    display: none;
}
.navi-slider {
    display: block;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 300%;
    height: 100%;
    display: flex;
}
.slides > input {
    display: none;
}
.slide {
    position: relative;
    width: 33.333333%;
    transition: 2s;
}
.slide.item1 {
    background: #1a5221 url('../img/home/home-bg2.png') no-repeat center;
    background-size: contain;
}
.slide.item2 {
    background: #91B40D url('../img/home/home-bg3.png') no-repeat center;
    background-size: contain;
}
.slide.item3 {
    background: #ffbf00 url('../img/home/home-bg6.png') no-repeat center;
    background-size: contain;
}
.item1 > img,
.item3 > img
{
    position: absolute;
    bottom: 5px;
    right:  5px;
    width: 50%;
    height: 80%;
    object-fit: contain;
}
.item2 > img {
    position: absolute;
    bottom: 5px;
    right:  5px;
    width: 70%;
    height: 50%;
    object-fit: contain;
}
.item1 > h5,
.item2 > h5,
.item3 > h5
{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 18px;
    color: #fff;
}
.item1 > h6,
.item2 > h6,
.item3 > h6
{
    position: absolute;
    top: 40px;
    left: 10px;
    margin: 0;
    font-size: 13px;
    color: #fff;
}
.navigation-manual,
.navigation-auto
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.manual-btn,
.navigation-auto > div
{
    border: 1px solid #40d3dc;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child),
.navigation-auto > div:not(:last-child)
{
    margin-right: 5px;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -33.3%;
}
#radio3:checked ~ .first {
    margin-left: -66.6%;
}
#radio1:checked ~ .navigation-auto > .auto-btn1,
#radio2:checked ~ .navigation-auto > .auto-btn2,
#radio3:checked ~ .navigation-auto > .auto-btn3,
.manual-btn:hover
{
    background: #40d3dc;
}
.navi-search {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100vh);
    background: rgba(100, 100, 100, .6);
    transition: all .3s ease;
}
.navi-search.active {
    transform: translateY(0);
}
.navi-search > i {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.navi-search > form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70px;
}
.navi-search > form > input[type='text'] {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
}
.navi-search > form > input[type='text']::placeholder {
    color: #fff;
}
.navi-search > form > input[type='button'] {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    background: #c7c7c7;
    color: #000;
    transition: all .3s ease;
}
.navi-search > form > input[type='button']:hover {
    background: #1a5221;
    color: #fff;
}
.navi-fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 14px 0;
    background: #1a5221;
    border-bottom: 4px solid #FFBF00;
    transition: all .3s ease;
}
.navi-fixed.active {
    opacity: 1;
    visibility: visible;
}
.navi-fixed > .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi-hidden {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: 0;
    width: 100%;
    visibility: hidden;
    transition: all .3s ease;
}
.navi-hidden.active {
    visibility: visible;
    left: 0;
}
.hiddenNavi-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(100, 100, 100, .6);
}
.hiddenNavi-content {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #fff;
}
.hiddenNavi-content > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #666;
    height: 8%;
}
.hiddenNavi-content i {
    font-size: 30px;
    cursor: pointer;
}
.hiddenNavi-content > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #666;
    height: 84%;
}
.hiddenNavi-content > ul > li {
    margin-bottom: 15px;
}
.hiddenNavi-content > ul > li > a {
    font: 500 19px 'Cormorant Garamond', serif;
    color: #666;
}
.hiddenNavi-content > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}
.hiddenNavi-content > div:last-child > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFBF00;
    color: #fff;
    margin-right: 10px;
    transition: all .3s ease;
}
.hiddenNavi-content > div:last-child > a:hover {
    background: #1a5221;
}
.hiddenNavi-content > div:last-child > a > i {
    font-size: 19px;
}

/* Nav ends */

/* About starts */

.about {
    display: flex;
    flex-wrap: wrap;
}
.about-img {
    height: 500px;
    width: 100%;
    flex: 0 0 auto;
}
.about-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content {
    width: 100%;
    flex: 0 0 auto;
}
.about-content > div {
    background: #f3f3f3 url('../img/about/about-img2.png') no-repeat -35% 55%;
    padding: 40px;
    text-align: center;
}
.about-content > div > .leaf-sm {
    margin-top: 5px;
    width: 200px;
    height: 40px;
    object-fit: contain;
}
.text-primary {
    margin-top: 20px;
    line-height: 30px;
    color: #212529 !important;
}
.text-secondary {
    line-height: 40px;
    margin: 10px 0;
    color: #212529 !important;
}
.about-content > div > .leaf-lg {
    margin: 10px 0;
    width: 300px;
    height: 40px;
    object-fit: contain;
}
.about-content > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.about-content > div > div span {
    display: block;
    margin-top: 10px;
}
.about-content > div > div div:not(:last-child) {
    margin-bottom: 40px;
}

/* About ends */

/* Garden starts */

.garden {
    padding: 70px 0;
    text-align: center;
}
.garden-content {
    display: flex;
    flex-wrap: wrap;
}
.garden-col {
    flex: 0 0 auto;
    width: 100%;
    padding: 1.5rem;
}
.garden-left,
.garden-center,
.garden-right 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.garden-bg {
    background: url('../img/home/home-bg3.png') no-repeat center top;
    background-size: contain;
}
.garden-col span {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}
.garden-col .img{
    width: 100%;
}
.garden-col p {
    text-align: left;
}

/* Garden ends */

/* Product starts */

.product,
.service,
.blog,
.social,
.contact
{
    text-align: center;
    padding: 70px 0;
    background: url('../img/about/about-img2.png') no-repeat -30% top;
}
.product h3,
.service h3,
.blog h3,
.social h3,
.contact h3
{
    font-size: 28px;
}
#all {
    color: #91B40D;
}
#all.active {
    color: #111;
}
#fruit {
    color: #111;
}
#fruit.active {
    color: #91B40D;
}
#vegetable {
    color: #111;
}
#vegetable.active {
    color: #91b40d;
}
#grain {
    color: #111;
}
#grain.active {
    color: #91b40d;
}
#other {
    color: #111;
}
#other.active {
    color: #91b40d;
}
.product-type {
    font-size: 18px;
    margin-bottom: 50px;
}
.product-type span {
    margin-right: 15px;
    cursor: pointer;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 80%;
    height: 280px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
.product-item > div:first-child {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    transition: all .4s ease;
}
.product-item:hover > div:first-child {
    visibility: visible;
    opacity: 1;
    transform: scale(1.05) translateY(-15px);
}
.product-item > div:last-child {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s ease;
}
.product-item:hover > div:last-child {
    transform: scale(1.05) translateY(-15px);
}
.product-item > div:last-child > img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}
.product-item > div:last-child > div {
    width: 100%;
    height: 35%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.product-item > div:last-child > div > span {
    display: block;
    font-size: 25px;
}
.product-item > div:last-child > div > span:last-child {
    color: #91b40d;
}
.product-hidden {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.product-hidden.active {
    opacity: 1;
    visibility: visible;
}
.product-hidden > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 60%;
    background: #fff;
    padding: 30px;
}
.product-hidden > i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 350px;
    overflow-y: auto;
}
.product-info > img {
    position: relative;
    top: 0;
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.product-info > div {
    width: 100%;
    text-align: justify;
    padding-right: 10px;
}
.product-info span {
    display: inline-block;
    margin-bottom: 10px;
    color: #91B40D;
}
.product-info p {
    line-height: 27px;
}
.product-slider {
    height: 250px;
    overflow: hidden;
}
.product-sliders {
    position: relative;
    left: 0;
    display: flex;
    height: 100%;
}
.product-sliders > div {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}
.product-sliders > div > img {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    object-fit: cover;
}

/* Product ends */

/* Service starts */

.service-content,
.blog-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
.service-content > div,
.blog-content > div 
{
    flex: 0 0 auto;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    text-align: left;
}
.service-content > div > h4 {
    margin: 15px 0;
    color: #1A5221;
    font-size: 19px;
    font-weight: 400;
}

/* Service ends */

/* Blog starts */

.blog-content > div > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.blog-content > div > h4 {
    margin: 10px 0 20px;
}

/* Blog ends */

/* Social starts */

.social-content {
    padding-top: 20px;
}

/* Social ends */

/* Contact starts */

.contact-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.contact-content > div {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 50px;
}
.contact-form {
    padding: 30px;
    text-align: left;
}
.contact-form > form {
    display: flex;
    flex-direction: column;
}
.contact-form > form > *,
.contact-form > h4
{
    margin-bottom: 20px;
}
.contact-form > form > input {
    outline: 0;
    border: 1px solid #666;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* ? */
    padding: 5px 10px;
}
.contact-form > form > textarea {
    outline: 0;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;
}
.contact-form > form > input:last-child {
    outline: 0;
    border: 0;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    background: #91B40D;
    color: #fff;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #91B40D;
    color: #fff;
    padding: 50px;
}
.contact-info > img {
    margin-bottom: 10px;
}
.contact-info > span,
.contact-info > a
{
    margin-bottom: 40px;
    color: #fff;
}
.contact-info > div > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #91B40D;
    margin-right: 5px;
}

/* Contact ends */

/* Footer starts */

.footer {
    background: url('../img/footer/footer-bg.png') no-repeat top center;
    background-size: cover;
    height: 950px;
    position: relative;
}
.footer > div {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
}
.footer-content > div {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img {
    width: 80%;
    height: 80%;
}
.footer-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-menu > h5,
.footer-link > h5,
.footer-faq > h5
{
    color: #00a1ff;
    margin-bottom: 15px;
}
.footer-menu > ul > li,
.footer-link > ul > li,
.footer-faq > ul > li
{
    margin-bottom: 15px;
}
.footer-menu > ul > li > a,
.footer-link > ul > li > a,
.footer-faq > ul > li > a
{
    color: #fff;
}
.footer-official {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #666;
}
.footer-official > div > span {
    color: #00a1ff
}
.footer-official > div > a {
    color: #fff;
}

/* Footer ends */


/* Breakpoints */

@media (min-width: 576px) {

     /* Nav starts */

    .navi-search > form {
        display: flex;
        width: 75%;
    }
    .navi-search > form > input[type='text'] {
        width: 75%;
        margin-bottom: 0;
    }
    .navi-search > form > input[type='button'] {
        width: 25%;
    }
    .navi-category {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -50px;
        left: 0;
        height: 23vh;
        width: 100%;
    }
    .navi-category > div {
        flex: 0 0 auto;
        width: 30%;
        position: relative;
        border-radius: 10px;
    }
    .navi-category > div > h5 {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #fff;
        font: 700 20px 'Cormorant Garamond', serif;
        z-index: 3;
    }
    .navi-category > div > h6 {
        position: absolute;
        top: 30px;
        left: 12px;
        color: #fff;
        font: 700 12px 'Cormorant Garamond', serif;
        z-index: 3;
    }
    .navi-fruit {
        background: #1a5221 url('../img/home/home-bg2.png') no-repeat center;
        background-size: contain;
    }
    .navi-vegetable {
        background: #91B40D url('../img/home/home-bg3.png') no-repeat center;
        background-size: contain;
    }
    .navi-grain {
        background: #ffbf00 url('../img/home/home-bg6.png') no-repeat center;
        background-size: contain;
    }
    .navi-fruit > img,
    .navi-grain > img
    {
        position: absolute;
        bottom: 5%;
        right: 5%;
        object-fit: contain;
        width: 80%;
        height: 80%;
    }
    .navi-vegetable > img {
        position: absolute;
        bottom: 5%;
        right: 5%;
        object-fit: contain;
        width: 90%;
        height: 60%;
    }
    .navi-slider {
        display: none;
    }

    /* Nav ends */

    /* About starts */

    .about-content > div {
        background-position: -20% 55%;
    }
    .about-content > div > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }
    .about-content > div > div div:not(:last-child) {
        margin-bottom: 0;
    }
    .about-content > div > .leaf-lg {
        width: 400px;
    }

    /* About ends */

    /* Product starts */

    .product,
    .service,
    .blog,
    .social,
    .contact
    {
        background-position: -13% top;
    }
    .product-type {
        font-size: 19px;
    }
    
    /* Product ends */

}

@media (min-width: 768px) {

    /* Nav starts */

    .navi-tel > a > span {
        font-size: 17px
    }
    .navi-media ul li:first-child {
        margin-right: 25px;
    }
    .navi-media ul li:not(:first-child) {
        margin-right: 18px;
    }
    .navi-media ul li:last-child {
        margin-right: 0;
    }
    .navi-media > i {
        font-size: 19px;
        margin-left: 25px;
    }
    
    /* Nav ends */

    /* About starts */

    .about-content > div {
        background-position: -10% 55%;
    }

    /* About ends */

    /* Garden starts */

    .garden-col {
        width: 50%;
    }
    .garden-center {
        flex-direction: column-reverse;
    }
    .garden-bg {
        background-position: center 95%;
    }

    /* Garden ends */

    /* Product starts */

    .product,
    .service,
    .blog,
    .social,
    .contact
    {
        background-position: -9% top;
    }
    .product-item {
        width: 50%;
        margin: 0;
    }
    .product-sliders > div {
        width: 50%;
    }
    
    /* Product ends */

    /* Service starts */

    .service-content > div,
    .blog-content > div
    {
        width: 45%;
    }

    /* Service ends */

    /* Footer starts */

    .footer {
        height: 600px;
    }
    .footer-content > div {
        width: 50%;
    }
    .footer-official {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Footer ends */

}
@media (min-width: 992px) {

    /* Nav starts */

    .navi-media > i {
        display: none;
    }
    .navi-menu > ul,
    .navi-fixed ul
    {
        display: flex;
    }
    .navi-hamb {
        display: none;
    }
    .navi-category > div > h5 {
        top: 10px;
        left: 10px;
        font-size: 25px;
    }
    .navi-category > div > h6 {
        top: 50px;
        left: 12px;
        font-size: 16px;
    }
    .navi-search > form {
        width: 840px;
    }

    /* Nav ends */

    /* About starts */

    .about-content > div {
        background-position:  -8% 55%;
    }

    /* About ends */

    /* Product starts */

    .product,
    .service,
    .blog,
    .social,
    .contact
    {
        background-position: -6% top;
    }
    .product-item {
        width: 33.33333333%;
    }
    .product-hidden > div {
        width: 75%;
        height: 60%;
    }
    .product-info > img {
        top: 15%;
        width: 25%;
    }
    .product-info > div {
        width: 70%;
    }
    .product-sliders > div {
        width: 33.33333333%
    }

    /* Product ends */

    /* Service starts */

    .service-content > div,
    .blog-content > div
    {
        width: 30%;
    }

    /* Service ends */

    /* Contact starts */

    .contact-content > div {
        width: 50%;
        margin-bottom: 0;
    }

    /* Contact ends */

    /* Footer starts */

    .footer-content > div {
        width: 25%;
    }

    /* Footer ends */

}
@media (min-width: 1200px) {

    /* About starts */

    .about-img {
        width: 35%;
        height: 900px;
    }
    .about-content {
        display: flex;
        align-items: center;
        width: 65%;
    }
    .about-content > div {
        background-position: -10% 55%;
        padding: 40px 90px;
        height: 800px;
    }
    .text-primary {
        line-height: 28px;
    }
    .about-content > div > .leaf-lg {
        width: 500px;
    }

    /* About ends */

    /* Garden starts */

    .garden-col {
        width: 33.33333333%;
    }

    /* Garden ends */

    /* Product starts */

    .product,
    .service,
    .blog,
    .social,
    .contact
    {
        background-position: -3% top;
    }
    .product-type {
        font-size: 20px;
    }
    .product-item {
        width: 25%;
    }
    
    /* Product ends */

}
@media (min-width: 1400px) {


    /* About starts */
    
    .about-content > div {
        background-position: -8% 55%;
    }
    .text-primary {
        line-height: 35px;
    }

    /* About ends */

    /* Product starts */

    .product-item {
        width: 20%;
    }
    .product-hidden > div {
        width: 60%;
    }

    /* Product ends */

}

@media (min-width: 1600px) {

    /* About starts */

    .text-primary {
        line-height: 40px;
    }

    /* About ends */

}
